.vertical-match-selecting-display {
  display: flex;
  flex-direction: row;
}

.vertical-match-selecting-display > .match-display-column {
  flex: 1 1 auto;
}

.vertical-match-selecting-display > .match-selector-column {
  flex: 0 0 15em;
  background-color: aliceblue;
  padding: 1em;
}

.match-selector-column {
  height: 92vh;
  overflow-y: auto;
}
